/*
–––––––––––––––––––––––––––––––––––––––
Container
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
#hp-tab {
	background: #FFF;
	width: 100%;
	padding-bottom: var(--sp-07);
}
.hp-tab-content-wrapper {
	max-width: 1216px;
	margin: 0 auto;
}

/*
–––––––––––––––––––––––––––––––––––––––
Tab
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hp-tab-selection {
	margin-bottom: var(--sp-07);
	border-bottom: 1px solid var(--c03-gray-04);
}
.hp-tab-selection img{
	width: 100%;
	height: auto;
	display: block;
}

/*
–––––––––––––––––––––––––––––––––––––––
Filter
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hp-tab-filter {
	width: 100%;
	text-align: center;
	font-size: var(--hd-size-xxs);
	margin-bottom: var(--sp-05);
}
.link-fake {
	color: var(--c01-dark);
	font-weight: 600;
}
.link-fake:hover {
	border-bottom: 2px solid var(--c01-dark);
	cursor: pointer;
}
.hp-tab-filter img {
	margin-left: var(--sp-02);
	margin-right: var(--sp-03);
	margin-top: var(--sp-03);
	width: 16px;
	height: 16px;
}

/*
–––––––––––––––––––––––––––––––––––––––
Plan cards
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.hp-tab-plan-wrapper {
	max-width: 1216px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--sp-05);
}
.hp-tab-plan {
	max-width: 384px;	
}
.hp-tab-plan img {
	width: 100%;
	height: auto;
}

/*
–––––––––––––––––––––––––––––––––––––––
CTAs
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hp-tab-btns {
	display: flex;
	justify-content: space-around;
	margin-bottom: var(--sp-05);
}
.hp-tab-btns-wrapper {
	display: flex;
}
.hp-tab-btns-wrapper div {
	margin: 0 var(--sp-05);
}