/*
–––––––––––––––––––––––––––––––––––––––
Container
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
#plp-looking {
	width: 100%;
	background-color: var(--c01-dark-02);
}
#plp-looking:hover {
	opacity: 0.9;
	cursor: pointer;
}

.plp-looking-content,
.plp-looking-content-expanded {
	max-width: 1216px;
	margin: 0 auto;
}

.plp-looking-content  img,
.plp-looking-content-expanded img {
	width: 1216px;
	height: auto;
}