/*
–––––––––––––––––––––––––––––––––––––––
Nav
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
#plp-sticky-nav {
	background-color: #fff;
	background-image: url("../../image-mock/sticky-nav-bg.png");
	height: 80px;
	width: 100%;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.20);
	z-index: 999;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}
.plp-sticky-nav-wrapper  {
	max-width: 1216px;
	margin: 0 auto;
}
.plp-sticky-nav-wrapper img {
	width: 100%;
	height: auto;
}

/*
–––––––––––––––––––––––––––––––––––––––

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/